@using WordCounter.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>

  <body>
    <h1>Results:</h1>

    @if (RepeatCounter.Result == 0)
    {
      <h3>Sentence: @RepeatCounter.SentenceInput</h3>

      <h3>Word: @RepeatCounter.WordInput</h3>

      <h3>Your word does not appear in your sentence</h3>
    }

    @if (RepeatCounter.Result != 0)
    {
      <h3>Word: @RepeatCounter.WordInput</h3>

      <h3>Sentence: @RepeatCounter.SentenceInput</h3>

      <h3>Your word appears @RepeatCounter.Result time(s) in that sentence.</h3>

    }

    <h3><a href="/game/new">Try again</a>
    <a href="/">Go Back Home</a></h3>

    <form action="/game/delete" method="post">
      <button type="submit" name="button">View all entries</button>
    </form>

    <form action="/game/delete" method="post">
      <button type="submit" name="button">Clear all entries</button>
    </form>

  </body>
